<% content_for :title, "Novo profissional" %>

<h1>Novo profissional</h1>

<%= render "form", profissional: @profissional %>

<br>

<div>
  <%= link_to "Voltar para profissionais", profissionais_path %>
</div>
